html,
body {
  background-color: #152319;
}

#first {
  grid-area: first;
}

#second {
  grid-area: second;
}

#main-grid {
  grid-template-areas: "first second";      
}

#main-grid,
#main-grid *{
  transition: all 1s;
}

/* Scene 1 */
#main-grid.scene-1 {
  grid-template-columns: 35% 1fr;
}    

.scene-1 #first-grid {
  grid-template-rows: 75% auto;
}    

.scene-1 #second-grid {
  grid-template-rows: 30% auto;
}

.scene-1 #first-grid .top-left .first,
.scene-1 #second-grid .bottom-right .first,
.scene-1 #second-grid .top-right .cell-image .first {
  opacity: 1;
}

.scene-1 #first-grid .top-left .second,
.scene-1 #first-grid .top-left .third,
.scene-1 #first-grid .top-left .fourth,
.scene-1 #second-grid .bottom-right .second,
.scene-1 #second-grid .bottom-right .third,
.scene-1 #second-grid .top-right .cell-image .second,
.scene-1 #second-grid .top-right .cell-image .third {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  #main-grid.scene-1 {
    grid-template-columns: 90% 1fr;
  }    
  
  .scene-1 #first-grid {
    grid-template-rows: 75% auto;
  }    
  
  .scene-1 #second-grid {
    grid-template-rows: 55% auto;
  }
}

/* Scene 2 */
#main-grid.scene-2 {
  grid-template-columns: 55% 1fr;
}    

.scene-2 #first-grid {
  grid-template-rows: 80% auto;
}    

.scene-2 #second-grid {
  grid-template-rows: 45% auto;
}

.scene-2 .text-small,
.scene-3 .text-small,
.scene-4 .text-small,
.scene-5 .text-small {
  transform: translate3d(0px, 30px, 0px);
  opacity: 0;
}

.scene-2 .logo,
.scene-3 .logo,
.scene-4 .logo,
.scene-5 .logo {
  transform: translate3d(0px, -20px, 0px);
}

.scene-4 .text-static,
.scene-3 .text-static,
.scene-2 .text-static {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.scene-4 .text-grow,
.scene-3 .text-grow,
.scene-2 .text-grow {
  max-width: 30vw;
}

.scene-2 #first-grid .top-left .first,
.scene-2 #first-grid .top-left .third,
.scene-2 #first-grid .top-left .fourth,
.scene-2 #second-grid .bottom-right .first,
.scene-1 #second-grid .bottom-right .third,
.scene-2 #second-grid .top-right .cell-image .first,
.scene-2 #second-grid .top-right .cell-image .third {
  opacity: 0;
}

.scene-2 #first-grid .top-left .second,
.scene-2 #second-grid .bottom-right .second,
.scene-2 #second-grid .top-right .cell-image .second {
  opacity: 1;
}

.scene-2 #second-grid .bottom-right .second {
  transform: translate3d(0px, 0px, 0px);
}

.scene-5 .cell-container.green,
.scene-4 .cell-container.green,
.scene-3 .cell-container.green,
.scene-2 .cell-container.green {
  background-color: #89744A;
}

@media screen and (max-width: 767px) {   
  .scene-2 #second-grid .top-right .cell-image .first, 
  .scene-2 #second-grid .bottom-right .first,
  .scene-2 #first-grid .top-left .first {
    opacity: 1;
  }

  #main-grid.scene-2,
  #main-grid.scene-3,
  #main-grid.scene-4,
  #main-grid.scene-5 {
    grid-column-gap: 0px;
    transition: all 1s, grid-column-gap 0.5s 1s;
  }

  #main-grid.scene-2 {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-2 #first-grid {
    grid-template-rows: 75% auto;
  }    
  
  .scene-2 #second-grid {
    grid-template-rows: 55% auto;
  }    

  .scene-2 .text-small,
  .scene-3 .text-small,
  .scene-4 .text-small,
  .scene-5 .text-small {
    transform: none;
    opacity: 1;
  }
  
  .scene-2 .logo,
  .scene-3 .logo,
  .scene-4 .logo,
  .scene-5 .logo {
    transform: none
  }    

  .scene-5 .cell-container.green,
  .scene-4 .cell-container.green,
  .scene-3 .cell-container.green,
  .scene-2 .cell-container.green {
    background-color: #152319;
  }
}

/* Scene 3 */
#main-grid.scene-3 {
  grid-template-columns: 45% 1fr;
}    

.scene-3 #first-grid {
  grid-template-rows: 80% auto;
}    

.scene-3 #second-grid {
  grid-template-rows: 55% auto;
}

.scene-3 .sticker {
  color: #89744A;
}

.scene-3 #first-grid .top-left .second,
.scene-3 #first-grid .top-left .fourth,
.scene-3 #second-grid .bottom-right .first,
.scene-3 #second-grid .bottom-right .second,
.scene-3 #second-grid .top-right .cell-image .first,
.scene-3 #second-grid .top-right .cell-image .second {
  opacity: 0;
}

.scene-3 #first-grid .top-left .third,
.scene-3 #second-grid .bottom-right .third,
.scene-3 #second-grid .top-right .cell-image .third {
  opacity: 1;
}

.scene-3 .div-block-25 {
  margin-right: 0px;
  margin-left: 3vw;
}

.scene-3 .logos {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0vw;
}

@media screen and (max-width: 767px) {
  .scene-3 #second-grid .top-right .cell-image .first {
    opacity: 1;
  }

  #main-grid.scene-3 {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-3 #first-grid {
    grid-template-rows: 80% auto;
  }    
  
  .scene-3 #second-grid {
    grid-template-rows: 45% auto;
  }    
}

/* Scene 4 */
#main-grid.scene-4 {
  grid-template-columns: 50% 1fr;
}    

.scene-4 #first-grid {
  grid-template-rows: 100% auto;
}    

.scene-4 #second-grid {
  grid-template-rows: 100% auto;
}

.scene-4 #first-grid .top-left .second,
.scene-4 #first-grid .top-left .third,
.scene-4 #first-grid .bottom-left .first,
.scene-4 #second-grid .bottom-right .first,
.scene-4 #second-grid .bottom-right .second,
.scene-4 #second-grid .bottom-right .third,
.scene-4 #second-grid .top-right .cell-image .first,
.scene-4 #second-grid .top-right .cell-image .second,
.scene-4 #second-grid .top-right .cell-image .third {
  opacity: 0;
}

.scene-4 #second-grid .top-right .cell-image .fourth,
.scene-4 #first-grid .top-left .fourth {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .scene-4 #second-grid .bottom-right .fourth {
    opacity: 1;
  }

  #main-grid.scene-4 {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-4 #first-grid {
    grid-template-rows: 80% auto;
  }    
  
  .scene-4 #second-grid {
    grid-template-rows: 30% auto;
  }    

  .scene-4 #second-grid .top-right .cell-image .fourth .content-heading {
    transform: translate3d(0px, 40px, 0px);
  }

  .scene-4 #second-grid .top-right .cell-image .fourth .content-text {
    max-height: 0;
    opacity: 0;
    transition: all 0.7s;
  }
}

/* Scene 5 */
#main-grid.scene-5 {
  grid-template-columns: 50% 1fr;
}    

.scene-5 #first-grid {
  grid-template-rows: 60% auto;
}    

.scene-5 #second-grid {
  grid-template-rows: 50% auto;
}

.scene-5 #first-grid .top-left .first,
.scene-5 #first-grid .top-left .second,
.scene-5 #first-grid .top-left .third,
.scene-5 #first-grid .top-left .fourth,
.scene-5 #first-grid .bottom-left .first,
.scene-5 #second-grid .bottom-right .first,
.scene-5 #second-grid .bottom-right .second,
.scene-5 #second-grid .bottom-right .third,
.scene-5 #second-grid .top-right .cell-image .first,
.scene-5 #second-grid .top-right .cell-image .second,
.scene-5 #second-grid .top-right .cell-image .third,
.scene-5 #second-grid .top-right .cell-image .fourth {
  opacity: 0;
}

.scene-5 #second-grid .top-left .fifth,
.scene-5 #second-grid .top-right .fifth,
.scene-5 #second-grid .bottom-right .fifth,
.scene-5 #first-grid .bottom-left .fifth,
.scene-5 #first-grid .top-left .fifth {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .scene-5 #second-grid .top-right .cell-image .fourth {
    opacity: 1;
    height: 50vh;
  }

  #main-grid.scene-5 {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-5 #first-grid {
    grid-template-rows: 80% auto;
  }    
  
  .scene-5 #second-grid {
    grid-template-rows: 50% auto;
  }    

  .scene-5 #second-grid .top-right .cell-image .fourth .content-text {
    max-height: 50vh;
    opacity: 1;
    transition: all 1s;
  }

  .scene-5 #second-grid .top-right .cell-image .fourth .content-heading {
    transform: translate3d(0px, 0px, 0px);
    transition: all 1.5s;
  }
}

/* Common */
#second-grid .bottom-right .second {
  max-width: calc(45vw - 10px);
  max-height: calc(55vh - 10px);
  transform: translate3d(0px, 20px, 0px);
}

#first-grid .top-left .first {
  max-width: 35vw;
  max-height: 75vh;
}

#first-grid .top-left .second {
  min-width: 55vw;
  min-height: 80vh;
}

#second-grid .top-right .cell-image .second {
  max-width: 45vw;
  width: 45vw;
  min-height: 45vh;
}

#second-grid .top-right .cell-image .third {
  min-width: 55vw;
  width: 55vw;
  min-height: 55vh;
  height: 55vh;
}

#second-grid .bottom-right .third {
  min-width: 55vw;
  width: 55vw;
  min-height: 45vh;
  height: 45vh;
}

#first-grid .top-left .third .text-content {
  max-width: 45vw;
  max-height: 80vh;
}

#second-grid .top-right .cell-image .fourth {
  width: 50vw;
  height: 100vh;
}

.logos {
  min-width: 36vw;
}

.text-grow {
  transition: all 1s;
}

.text-static {
  opacity: 0;
  transform: translate3d(0px, -20px, 0px);
}

#first-grid .top-left .fourth {
  min-height: 100vh;
}

.big-heading {
  font-size: clamp(50px, 5vw, 90px);
}

.text-static,
.sticker,
.button-text,
.content-text {
  font-size: clamp(14px, 1vw, 18px) !important;
}

.content-heading {
  font-size: clamp(20px, 1.5vw, 30px) !important;
}

.text-small {
  font-size: clamp(10px, 0.5vw, 12px) !important;
}

.text-static {
  max-width: 19vw !important;
}

.mobile-bottom {
  display: block;
  position: absolute;
  left: 0;
  border-top: 5px solid #152319;
}

.bottom-right .fourth.mobile {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .bottom-right .fourth.mobile {
    opacity: 1;
  }

  #second-grid .bottom-right .third {
    min-width: 100vw;
    width: 100vw;
    min-height: 55vh;
    height: 55vh;
    padding: 10vw;
  }

  .mobile-bottom .fifth,
  .mobile-bottom .fourth {
    position: relative;
    opacity: 1;
  }

  #first-grid .top-left .first {
    min-width: 90vw;
    max-width: 90vw;
    max-height: 75vh;
  }

  .bottom-left .cell-container.green .first {
    min-width: 90vw;
  }

  .bottom-left .cell-container.green .text-grow {
    display: none;
  }

  #second-grid .bottom-right .slides-container .first {
    padding: 0px;
    width: 100%;
    height: 100%;
  }

  #second-grid .top-right .cell-image .first, 
  #second-grid .bottom-right .first {
    min-width: 100vw;
  }

  #second-grid .bottom-right .fourth {
    padding: 0px;
  }

  .top-right,
  .bottom-right {
    overflow: hidden;
  }

  #second-grid .top-right .cell-image .fourth {
    width: 100%;
    height: 30vh;
    margin-bottom: 0px;
    transition: 1s all;
    padding: 10vw;
  }

  #second-grid .top-right .cell-image .fourth .content-text {
    margin-bottom: 0px;
  } 

  .div-block-17.text-content {
    padding: 0px;
    justify-content: flex-end;
  }

  #second-grid .top-right {
    background-color: #dbd1cb;
  }

  .footer-container {
    flex-direction: column;
  }

  .div-block-30 {
    flex: 0 1 auto;
  }

  .div-block-30 .link-2 {
    margin-right: 1em;
  }

  .div-block-31 {
    flex: 1;
  }

  .div-block-29 {
    flex-direction: row;
    width: 100%;
  }

  .div-block-27 {
    margin-bottom: 5em;
  }

  .div-block-28 {
    align-items: flex-start;
    width: 100%;
  }
}