html,
body {
  background-color: #152319;
}

#first {
  grid-area: first;
}

#second {
  grid-area: second;
}

#main-grid {
  grid-template-areas: "first second";      
}

#main-grid,
#main-grid *{
  transition: all 1s;
}

/* Scene 1 */
.scene-1 #main-grid {
  grid-template-columns: 35% 1fr;
}    

.scene-1 #first-grid {
  grid-template-rows: 75% auto;
}    

.scene-1 #second-grid {
  grid-template-rows: 30% auto;
}

.scene-1 .down-arrow,
.scene-1 #first-grid .top-left .first,
.scene-1 #second-grid .bottom-right .first,
.scene-1 #second-grid .top-right .cell-image .first {
  opacity: 1;
  z-index: 4;
}

.scene-1 #first-grid .top-left .second,
.scene-1 #first-grid .top-left .third,
.scene-1 #first-grid .top-left .fourth,
.scene-1 #second-grid .bottom-right .second,
.scene-1 #second-grid .bottom-right .third,
.scene-1 #second-grid .top-right .cell-image .second,
.scene-1 #second-grid .top-right .cell-image .third {
  opacity: 0;
}

.scene-1 #first-grid .top-left .first {
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .scene-1 #main-grid {
    grid-template-columns: 90% 1fr;
  }    
  
  .scene-1 #first-grid {
    grid-template-rows: 75% auto;
  }    
  
  .scene-1 #second-grid {
    grid-template-rows: 55% auto;
  }
}

/* Scene 2 */
.scene-2 #main-grid {
  grid-template-columns: 55% 1fr;
}    

.scene-2 #first-grid {
  grid-template-rows: 80% auto;
}    

.scene-2 #second-grid {
  grid-template-rows: 45% auto;
}

.scene-2 .bottom-left .text-small,
.scene-3 .bottom-left .text-small,
.scene-4 .bottom-left .text-small,
.scene-5 .bottom-left .text-small {
  transform: translate3d(0px, 30px, 0px);
  opacity: 0;
}

.scene-2 .bottom-left .logo,
.scene-3 .bottom-left .logo,
.scene-4 .bottom-left .logo,
.scene-5 .bottom-left .logo {
  transform: translate3d(0px, -20px, 0px);
  position: absolute;
  top: 55%;
}

.scene-4 .text-static,
.scene-3 .text-static,
.scene-2 .text-static {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.scene-4 .text-grow,
.scene-3 .text-grow,
.scene-2 .text-grow {
  max-width: 30vw;
  transition: all 1.5s !important;
}

.scene-2 #first-grid .top-left .first,
.scene-2 #first-grid .top-left .third,
.scene-2 #first-grid .top-left .fourth,
.scene-2 #second-grid .bottom-right .first,
.scene-1 #second-grid .bottom-right .third,
.scene-2 #second-grid .top-right .cell-image .first,
.scene-2 #second-grid .top-right .cell-image .third {
  opacity: 0;
}

.scene-2 #first-grid .top-left .second,
.scene-2 #second-grid .bottom-right .second,
.scene-2 #second-grid .top-right .cell-image .second {
  opacity: 1;
  z-index: 4;
}

.scene-2 #second-grid .bottom-right .second {
  transform: translate3d(0px, 0px, 0px);
}

.scene-5 .cell-container.green,
.scene-4 .cell-container.green,
.scene-3 .cell-container.green,
.scene-2 .cell-container.green {
  background-color: #89744A;
}

.scene-2 .top-register,
.scene-3 .top-register,
.scene-4 .top-register,
.scene-5 .top-register {
  opacity: 1;
  pointer-events: all;
}

.scene-1 #main-grid{ 
    height: 100dvh;
}

@media screen and (max-width: 767px) {   
  .scene-2 #second-grid .top-right .cell-image .first, 
  .scene-2 #second-grid .bottom-right .first,
  .scene-2 #first-grid .top-left .first {
    opacity: 1;
  }

  .scene-1 #second-grid .bottom-right .first .fine-print,
  .scene-2 #second-grid .bottom-right .first .fine-print {
    opacity: 0;
  }

  .scene-2 #main-grid,
  .scene-3 #main-grid,
  .scene-4 #main-grid,
  .scene-5 #main-grid {
    grid-column-gap: 0px;
    transition: all 1s, grid-column-gap 0.5s 1s;
  }

  .scene-2 #main-grid {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-2 #first-grid {
    grid-template-rows: 75% auto;
  }    
  
  .scene-2 #second-grid {
    grid-template-rows: 55% auto;
  }    

  .scene-2 .bottom-left .text-small,
  .scene-3 .bottom-left .text-small,
  .scene-4 .bottom-left .text-small,
  .scene-5 .bottom-left .text-small {
    transform: none;
    opacity: 1;
  }
  
  .scene-2 .bottom-left .logo,
  .scene-3 .bottom-left .logo,
  .scene-4 .bottom-left .logo,
  .scene-5 .bottom-left .logo {
    transform: none;
    position: relative;
    top: unset;
  }    

  .scene-5 .cell-container.green,
  .scene-4 .cell-container.green,
  .scene-3 .cell-container.green,
  .scene-2 .cell-container.green {
    background-color: #152319;
  }

  .scene-2 .unveiling-mobile,
  .scene-3 .unveiling-mobile,
  .scene-4 .unveiling-mobile,
  .scene-5 .unveiling-mobile {
    opacity: 1;
    z-index: 5;
    right: 0px;
    transition: all 1s 0.4s !important;
  }
}

/* Scene 3 */
.scene-3 #main-grid {
  grid-template-columns: 45% 1fr;
}    

.scene-3 #first-grid {
  grid-template-rows: 80% auto;
}    

.scene-3 #second-grid {
  grid-template-rows: 55% auto;
}

.scene-3 .sticker {
  color: #89744A;
}

.scene-3 #first-grid .top-left .second,
.scene-3 #first-grid .top-left .fourth,
.scene-3 #second-grid .bottom-right .first,
.scene-3 #second-grid .bottom-right .second,
.scene-3 #second-grid .top-right .cell-image .first,
.scene-3 #second-grid .top-right .cell-image .second {
  opacity: 0;
}

.scene-3 #first-grid .top-left .third,
.scene-3 #second-grid .bottom-right .third,
.scene-3 #second-grid .top-right .cell-image .third {
  opacity: 1;
  z-index: 4;
}

.scene-3 .logos {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0vw;
}

@media screen and (max-width: 1199px) {
  .scene-3 .div-block-26 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 999px) {
  .scene-3 #main-grid {
    grid-template-columns: 50% 1fr;
  }  

  .scene-3 .div-block-25 {
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) {
  .scene-3 .image-2.third {
    object-position: left;
  }
}

@media screen and (max-width: 767px) {
  .scene-3 #second-grid .top-right .cell-image .first {
    opacity: 1;
  }

  .scene-3 #main-grid {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-3 #first-grid {
    grid-template-rows: 80% auto;
  }    
  
  .scene-3 #second-grid {
    grid-template-rows: 45% auto;
  }    

  .scene-3 #second-grid .bottom-right .slides-container::after,
  .scene-3 #second-grid .bottom-right .third {
    transform: translate3d(30px, 0px, 0px);
  }
}

/* Scene 4 */
.scene-4 #main-grid {
  grid-template-columns: 50% 1fr;
}    

.scene-4 #first-grid {
  grid-template-rows: 100% auto;
}    

.scene-4 #second-grid {
  grid-template-rows: 100% auto;
}

.scene-4 #first-grid .top-left .second,
.scene-4 #first-grid .top-left .third,
.scene-4 #first-grid .bottom-left .first,
.scene-4 #second-grid .bottom-right .first,
.scene-4 #second-grid .bottom-right .second,
.scene-4 #second-grid .bottom-right .third,
.scene-4 #second-grid .top-right .cell-image .first,
.scene-4 #second-grid .top-right .cell-image .second,
.scene-4 #second-grid .top-right .cell-image .third {
  opacity: 0;
}

.scene-4 #second-grid .top-right .cell-image .fourth,
.scene-4 #first-grid .top-left .fourth {
  opacity: 1;
  z-index: 4;
}

.scene-5 .sticker,
.scene-4 .sticker {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .scene-4 #second-grid .bottom-right .fourth {
    opacity: 1;
  }

  .scene-4 #main-grid {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-4 #first-grid {
    grid-template-rows: 80% auto;
  }    
  
  .scene-4 #second-grid {
    grid-template-rows: 30% auto;
  }    

  .scene-4 #second-grid .top-right .cell-image .fourth .content-heading {
    transform: translate3d(0px, 40px, 0px);
  }
}

/* Scene 5 */
.scene-5 #main-grid {
  grid-template-columns: 50% 1fr;
}    

.scene-5 #first-grid {
  grid-template-rows: 50% auto;
}    

.scene-5 #second-grid {
  grid-template-rows: 55% auto;
}

.scene-5 #first-grid .top-left .first,
.scene-5 #first-grid .top-left .second,
.scene-5 #first-grid .top-left .third,
.scene-5 #first-grid .top-left .fourth,
.scene-5 #first-grid .bottom-left .first,
.scene-5 #second-grid .bottom-right .first,
.scene-5 #second-grid .bottom-right .second,
.scene-5 #second-grid .bottom-right .third,
.scene-5 #second-grid .top-right .cell-image .first,
.scene-5 #second-grid .top-right .cell-image .second,
.scene-5 #second-grid .top-right .cell-image .third,
.scene-5 #second-grid .top-right .cell-image .fourth {
  opacity: 0;
}

.scene-5 #second-grid .top-left .fifth,
.scene-5 #second-grid .top-right .fifth,
.scene-5 #second-grid .bottom-right .fifth,
.scene-5 #first-grid .bottom-left .fifth,
.scene-5 #first-grid .top-left .fifth {
  opacity: 1;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .scene-5 #second-grid .top-right .cell-image .fourth {
    opacity: 1;
    height: 50vh;    
  }

  .scene-5 #main-grid {
    grid-template-columns: 0% 1fr;
  }    
  
  .scene-5 #first-grid {
    grid-template-rows: 80% auto;
  }    
  
  .scene-5 #second-grid {
    grid-template-rows: 50% auto;
  }    

  .scene-5 #second-grid .top-right .cell-image .fourth .content-text {
    max-height: 50vh;
    opacity: 1;
    transition: all 1s;
  }

  .scene-5 #second-grid .top-right .cell-image .fourth .content-heading {
    transform: translate3d(0px, 0px, 0px);
    transition: all 1.5s;
  }

  .scene-5 #main-grid  {
    grid-column-gap: 5px;
  }
}

/* Scene 6 */
.scene-6 #main-grid {
  grid-template-columns: 100% 1fr;
  grid-column-gap: 5px;
}    

.scene-6 #first-grid {
  grid-template-rows: 100% auto;
}    

.scene-6 #second-grid {
  grid-template-rows: 0% auto;
}

.scene-6 #first-grid .top-left .first,
.scene-6 #first-grid .top-left .second,
.scene-6 #first-grid .top-left .third,
.scene-6 #first-grid .top-left .fourth,
.scene-6 #first-grid .top-left .fifth {
  opacity: 0;
}

.scene-6 #first-grid .top-left .sixth {
  opacity: 1;
}